.header
{
    top: 0px;
left: 0px;
width: 1920px;
height: 90px;
background: #0081BC 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 17px #0000002E;
position: absolute;
opacity: 1}

.logo
{
top: 22px;
position: absolute;
left: 144px;
width: 154px;
height: 30px;
opacity: 1;
}

a{
    text-decoration: none;

}
.searchPlace{
    top: 134px;
left: 149px;
width: 131px;
height: 19px;
}
.searchPlace .backKey
{
    top: 138px;
left: 149px;
width: 6px;
height: 12px;

}
.backKeySymbol
{
    top: 138px;
left: 149px;
width: 6px;
    height:6px;
    width:px;
    border-left: 2px solid #FF9300;
border-bottom: 2px solid #FF9300;
transform: matrix(1,1,-1,1,1,0);
position: absolute;
opacity: 1;
}
.searchPlace .home
{
    top: 134px;
left: 164px;
width: 116px;
height: 19px;
font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-19) var(--unnamed-font-family-montserrat);
letter-spacing: var(--unnamed-character-spacing-0);
text-align: left;
font: normal normal medium 16px/19px Montserrat;
letter-spacing: 0px;
color: #FF9300;
opacity: 1;
position: absolute;
font-family:'Monsterrat', sans-serif;
font-weight: Medium;
font-size:16px;
}
 .searchByTitle
{
    top: 123px;
left: 310px;
width: 384px;
height: 42px;
background: var(--unnamed-color-fafafa) 0% 0% no-repeat padding-box;
border: 1px solid var(--unnamed-color-d8d8d8);
background: #FAFAFA 0% 0% no-repeat padding-box;
border: 1px solid #D8D8D8;
border-radius: 21px;
opacity: 1;
position:absolute;
}
.searchByTitle::placeholder {
    top: 135px;
left: 325px;
width: 158px;
height: 19px;
font: var(--unnamed-font-style-normal) normal normal var(--unnamed-font-size-16)/var(--unnamed-line-spacing-19) var(--unnamed-font-family-montserrat);
text-align: left;
font: normal normal normal 16px/19px Montserrat;
letter-spacing: 0.29px;
color: #000000;
opacity: 1;
padding-left: 15px;
  }
.searchIcon
{
    top: 138px;
left: 657px;
width: 16px;
height: 16px;
margin-bottom:11px;
opacity: 1;
position:absolute
}
.searchByfilterone
{
    top: 123px;
left: 723px;
width: 290px;
height: 42px;
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #AFAFAF;
border-radius: 4px;
opacity: 1;
position:absolute
}
.searchByfilteronetext
{
    top: 135px;
left: 743px;
margin-left:20px;
margin-top:12px;
height: 19px;
font: var(--unnamed-font-style-normal) normal normal var(--unnamed-font-size-16)/var(--unnamed-line-spacing-19) var(--unnamed-font-family-montserrat);
text-align: left;
font: normal normal normal 16px/19px Montserrat;
letter-spacing: 0.29px;
color: #AFAFAF;
opacity: 1;


}
.dropDownOneDown{
    top: 138px;
left: 981px;
width: 10px;
height: 5px;
position:absolute;
}
.dropDownOneUp{
    top: 138px;
left: 981px;
width: 10px;
height: 5px;
display: none;
position:absolute;
}
.searchBoxOne:hover .dropDownOneDown
{
    display: none;
}
.searchBoxOne:hover .dropDownOneUp
{
    display: block;
}
.searchBoxOne:hover .locationOptions
{
    display: block;
    z-index: 100;
   
    
}
.locationOptions
{
    margin-top:163px;
    margin-left:723px;
    width:292px;
    background-color:mintcream;
    border: 1px solid #D8D8D8;
border-radius: 4px;
display:none;
color:black;
position:absolute;
}
.locationsearchbox
{
 top:167px;
 left:726px;
 margin-top:10px;
 margin-left:15px;
 margin-right:15px;
   
    border-radius: 4px;
    height:35px;
}
.check1{
   
      width:220px;
      height:20px;
      margin-top:0px;
      border-radius: 4px;
      
    color:white;
    border:0px solid white;
   
}

.checker1
{
    margin-top:180px;
    left: 1285px;
    width:9px;
    height:9px;
    margin-top:0px;
    margin-right:4px;
  
    
}
.searchicon_location
{
   margin: 0px;
}
.optionsOfLocation{

}

.searchByfiltertwo
{
    top: 123px;
left: 1043px;
width: 290px;
height: 42px;
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #AFAFAF;
border-radius: 4px;
opacity: 1;
position:absolute;
}
.dropDownTwoDown
{
    top: 138px;
left: 1301px;
width: 10px;
height: 5px;
opacity: 1;
position:absolute;
}
.dropDownTwoUp
{
    top: 138px;
left: 1301px;
width: 10px;
height: 5px;
opacity: 1;
display:none;
position:absolute;
}
.searchByfiltertwotext
{
    top: 135px;
left: 1063px;
margin-left:20px;
margin-top:12px;
height: 19px;
font: var(--unnamed-font-style-normal) normal normal var(--unnamed-font-size-16)/var(--unnamed-line-spacing-19) var(--unnamed-font-family-montserrat);
text-align: left;
font: normal normal normal 16px/19px Montserrat;
letter-spacing: 0.29px;
color: #AFAFAF;
opacity: 1;

}
.titleOptions
{
    top:173px;
    left:1043px;
    width:292px;
    position:absolute;
    border-radius: 4px;
    border: 1px solid #AFAFAF;
    display:none;
    color:black;
background-color:white ;
}
.searchByJobTitle
{
    top:173px;
    margin-right:16px;
    margin-left:16px;
    margin-top:10px;
    margin-bottom:0px;
    padding:0px;
    left:1043px;
     height:25px;
     width:260px;
     border: 1px solid var(--unnamed-color-d8d8d8);
 background: #FAFAFA 0% 0% no-repeat padding-box;
 border: 1px solid #D8D8D8;
 border-radius: 4px;
 
}
.searchicon_title
{
    top:188px;
    left: 1285px;
    position:fixed;
    width:9px;
    height:9px;
    margin-top:0px;
    margin-right:4px;
}


.searchBoxTwo:hover .dropDownTwoUp{
display:block;
}
.searchBoxTwo:hover .dropDownTwoDown{
    display:none;
}
.searchBoxTwo:hover .titleOptions{
        display:block;
        z-index: 1;
}





.searchByfilterthree
{
    top: 123px;
    left: 1362px;
    width: 332px;
    height: 42px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #AFAFAF;
    border-radius: 4px;
    opacity: 1;
    position:absolute
}
.dropDownThreeUp
{
    top: 138px;
    left: 1662px;
    width: 10px;
    height: 5px;
    opacity: 1;
    display:none;
    position:absolute
}
.dropDownThreeDown
{
    top: 138px;
    left: 1662px;
    width: 10px;
    height: 5px;
    opacity: 1;
    position:absolute;
}
.searchByfilterthreetext
{
    top: 135px;
    left: 1382px;
    height: 19px;
    margin-left:20px;
margin-top:12px;
    font: var(--unnamed-font-style-normal) normal normal var(--unnamed-font-size-16)/var(--unnamed-line-spacing-19) var(--unnamed-font-family-montserrat);
    text-align: left;
    font: normal normal normal 16px/19px Montserrat;
    letter-spacing: 0.29px;
    color: #AFAFAF;
    opacity: 1;
}
.certificateOptions
{
    top:173px;
    left:1362px;
    width:332px;
    position:absolute;
    border-radius: 4px;
    border: 1px solid #AFAFAF;
    display:none;
    color:black;
background-color:white ;
    
}
.searchBycertificate
{
    top:173px;
    margin-right:16px;
    margin-left:16px;
    margin-top:10px;
    margin-bottom:0px;
    padding:0px;
    left:1043px;
     height:25px;
     width:300px;
     border: 1px solid var(--unnamed-color-d8d8d8);
 background: #FAFAFA 0% 0% no-repeat padding-box;
 border: 1px solid #D8D8D8;
 border-radius: 4px;
 
}
.searchicon_certificate
{
    top:187px;
    left: 1645px;
    position:fixed;
    width:9px;
    height:9px;
    margin-top:0px;
    margin-right:4px;
}
.searchBoxThree:hover .dropDownThreeUp{
    display:block;
}
.searchBoxThree:hover .dropDownThreeDown{
        display:none;
}
.searchBoxThree:hover .certificateOptions{
            display:block;
            z-index:1;
}
    
.displayTypeSearch
{
    top: 200px;
left: 140px;
width: 228px;
height: 40px;
background: #5F6062 0% 0% no-repeat padding-box;
border-radius: 20px;
opacity: 1;
border:1px solid #5F6062 ;
position:absolute;
}
.textdisplay
{
    top: 211px;
left: 162px;
height: 19px;
margin-left:22px;
margin-top:8px;
font: var(--unnamed-font-style-normal) normal normal var(--unnamed-font-size-16)/26px var(--unnamed-font-family-montserrat);
color: var(--unnamed-color-fafafa);
text-align: left;
font: normal normal normal 16px/26px Montserrat;
letter-spacing: 0.29px;
color: #FAFAFA;
opacity: 1;
}
.close_icon
{
    top: 210px;
    left: 340px;
    width: 9px;
    height: 9px;
    color: #FAFAFA;
    position:absolute;
}
.result_details
{
    top: 273px;
left: 140px;

height: 18px;
font: var(--unnamed-font-style-normal) normal 300 14px/18px var(--unnamed-font-family-montserrat);
text-align: left;
font: normal normal 300 14px/18px Montserrat;
letter-spacing: 0.25px;
color: #000000;
opacity: 1;
position:absolute;
}
.tablehead
{
    top: 301px;
    left: 140px;
    width: 1333px;
    height: 50px;
  
    opacity: 1;
   
    
}
td,th
{
    padding-left:46px;
}

table
{
    top: 301px;
left: 140px;
width: 1333px;
background: #F2F2F2 0% 0% no-repeat padding-box;

}
::-webkit-scrollbar {
    width: 0;  
    background: transparent;  
}
.tt
{
    overflow-y:auto;
    height:655px;
    top: 301px;
left: 140px;
width: 1333px;
    position:absolute;
    background-color: green;
    margin-bottom:0px;
  
}
td,th{
    text-align:left;
    height: 50px;
   
}
tr{
    background: #FFFFFF 0% 0% no-repeat padding-box;
}
tr:nth-child(odd) {
    background: #F2F2F2 0% 0% no-repeat padding-box;
}
thead
{
    background: black 0% 0% no-repeat padding-box;
    
}
th{
    color:white;
}
.recentvisitedbox
{
top: 301px;
left: 1520px;
width: 314px;
height: 701px;
border: 1px solid var(--unnamed-color-d8d8d8);
background:white 0% 0% no-repeat padding-box;
border: 1px solid #D8D8D8;
border-radius: 4px;
opacity: 1;
overflow-y:auto;
position:absolute;

}
.recentintrotext
{


width: 178px;
height: 18px;
margin-top:26px;
margin-left:24px;
      height: 18px;
  
    font: var(--unnamed-font-style-normal) normal normal 14px/18px var(--unnamed-font-family-montserrat);
    text-align: left;
    font: normal normal normal 14px/18px Montserrat;
    letter-spacing: 0.25px;
    color: #5F6062;
    opacity: 1;
   
}
.recentdesignline
{
    width: 77px;
    height: 0px;
    margin-top:-10px;
    margin-left:211px;
    border: 1px solid var(--unnamed-color-d8d8d8);
    border: 1px solid #D8D8D8;
    opacity: 1;
    position:absolute;
    
}
.profiledisplay
{
   margin-top: 23px;
margin-left: 24px;
width: 263px;
height: 97px;
background: var(--unnamed-color-fafafa) 0% 0% no-repeat padding-box;
background: #FAFAFA 0% 0% no-repeat padding-box;
border-radius: 4px;
opacity: 1;

}
.pagination
{
    top: 957px;
left: 140px;
width: 1333px;
height: 50px;
background: red 0% 0% no-repeat padding-box;
opacity: 1;
position:absolute;
}